:root {
        --primary-text-color: #212121;
        --secondary-text-color: #757575;
        --accent-text-color: #FFFFFF;
        --accent-color: #2196F3;
        --primary-bg-color: #E5E5E5;
        --secondary-bg-color: #F5F4FA;
    }

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 0.03em;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.hero{
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--accent-text-color);
        background-color: var(--accent-color);
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.advantages-text{
    font-size: 14px;
    line-height: 1.71;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
}


.accent-color {
    color: #2196F3;
}


.buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
}

.reference {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation {
    color: var(--primary-text-color);
    text-decoration: none;
}

.buttons:hover, .buttons:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
}

.reference:hover, .reference:focus {
    color: var(--accent-color);
    
}

.examples-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.example-work {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    
}